* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th, 
td {
    border: 1px black solid;
    padding: .35rem;
    font-size: 1.15rem;
}

input {
    border: transparent;
    text-align: center;
    width: 100px;
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    margin: 1rem;
}

button {
    padding: .2rem;
    font-size: 1rem;
    margin-left: 1rem;
}

.container {
    display: flex;
}